$pre-colors-support-parser: (
    border-color: null,
    background-color: null,
    color: color
) !default;

$pre-colors-support-extra-colors-palette: () !default;
$pre-colors-support-skip-colors-palette: null !default;
